# Phase 1: synthetic data generation
numpy
pandas
faker


dbt-core
dbt-bigquery
google-cloud-bigquery
scipy
statsmodels
jupyter
matplotlib
google-cloud-bigquery-storage
db-dtypes
scikit-learn
lifelines
streamlit
plotly
